/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 6, 2023, 1:54:10 PM
    Author     : ayanaaiken
*/

@media only screen and (max-width: 700px) {
    .gallery {
        width: 49.9999%;
            margin: 6px 0;
    }
}
@media only screen and (max-width: 500px){
    .gallery {
        width:100%;
    }
} 